* {
  direction: rtl;
}
html {
  font-size: 62.5%;

  @include Responsive(tabletl) {
    font-size: 58.5%;
  }
  @include Responsive(tablet) {
    font-size: 56.25%;
  }
  @include Responsive(phonel) {
    font-size: 50%;
  }
  @include Responsive(phone) {
    font-size: 43.75%;
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
:root {
  --bs-body-bg: #fff;
}

body {
  --bs-body-font-size: 1.6rem;
  --bs-body-color: #101010;
  --bs-body-font-family: IRANSansX, "sans-serif";
  @include Responsive(laptop) {
    padding-top: 19rem;
  }
  @include Responsive(tabletl) {
    padding-top: 17rem;
  }
  @include Responsive(tabletsm) {
    padding-top: 11rem;
  }
  @include Responsive(phonel) {
    padding-top: 12rem;
  }
  @include Responsive(phone) {
    padding-top: 13rem;
  }
}
