//! Import fonts
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ttf/IRANSansX-Medium.ttf) format("ttf"),
    url(../fonts/woff/IRANSansX-Medium.woff) format("woff"),
    url(../fonts/eot/IRANSansX-Medium.eot?#iephix) format("eot");
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/ttf/IRANSansX-Regular.ttf) format("ttf"),
    url(../fonts/woff/IRANSansX-Regular.woff) format("woff"),
    url(../fonts/eot/IRANSansX-Regular.eot) format("eot");
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/ttf/IRANSansX-Bold.ttf) format("ttf"),
    url(../fonts/woff/IRANSansX-Bold.woff) format("woff"),
    url(../fonts/eot/IRANSansX-Bold.eot) format("eot");
}
